body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.introduction {
    background-color: #1f2937;
    flex: 1;
    color: white;
}
.content-one {
    flex: 1;

}

.content-two {
    background-color: #e5e7eb;
    flex: 1;
}
.content-three {
    flex: 1;
}

footer {
    background-color: #1f2937;
    flex: 1;
}
.align {
    width: 80%;
    margin: auto;
}
