ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    text-align: right;   
}
a {
    text-decoration: none;
}
p, h1, h2, h5 { 
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

.header, .footer, .introduction{
    background-color: #1f2937;
}

.header, .footer {
    
    padding: 10px 0px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    margin-right: auto;
    text-align: left;

}
.center {
    width: 60%;
    margin: auto;
}
h2 {
    text-align: center;
    padding: 10px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;

}
h5 {
    text-align: right;
    font-size: 20px;
}

.footer {
    color: #E5E7EB;
    text-align: center;
    display: flex;
    align-items: center;
}
.cta, button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
}
button {
    padding: 10px 40px;
    margin-top: 20px;
}


.header, .footer {
    height: 50px;
}
h1 {
    font-size: 48px;
    font-weight:800;
    color: #f9faf8;
}
.tile-left > p, .header {
    color: #E5E7EB;
    font-size: 18px;
}

.quote { 
    background-color: #E5E7EB;
    color: #1f2937;
}
.quote > .center > p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.introduction, .cta-container, .quote, .information {
 height: 450px;
}

.quote-container > .center {
    width: 50%;
}
.quote {
    display: flex;
    align-items: center;

}

.blue-box {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    border: solid #3882f6;
}
.information > .center {
    padding: 20px;
    display: flex;
    width: 1000px;
    justify-content: center;
    gap: 70px;
}

.introduction > .center {
    display: flex;
    
}
.info-container {
    max-width: 200px;
}

.tile-left, .tile-right {
    flex: 1;
    height: 300px;
    align-self: center;

}
.tile-right {
    background-color: #E5E7EB;
    border-radius: 20px;
}
.introduction {
    padding: 20px 0px;
    display: flex;
}
.tile-left {
    padding-right: 50px;
}

.info-container > p {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
}

.information {
    padding-top: 30px;
}

.quote > .center {
    width: 1020px;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta {
    display: flex;
    padding: 70px 50px 70px 50px;
}

.button-cta {
    margin: 0;
    border-color: #f9faf8;
    margin-left: auto;

    
}

.cta-right, .cta-left {
    flex: 1;
}
.p-cta-primary {
    font-size: 24px;
    font-weight: bold;

}
.cta-right {
    display: flex;
}
